//- header
mj-section(background-color="#EC6608" padding="0")
    //- mj-group(width="40%")
        mj-column(width="30%" padding="10px" )
            mj-image(align="right" padding="0" width='50px' src='https://i.ibb.co/Mskj4kV/Marie-Laurence.jpg' alt='Laurence Wallaert responsable pédagogique')/
        mj-column(width="70%"  padding="10px")
            mj-text(align="left" mj-class='dTs cB' padding='0') #[span(style='font-weight:700;') Marie-Laurence] #[span(style='text-transform:uppercase;font-weight:700;') Wallaert]
            mj-text(align="left" mj-class='dTs cB' padding="0") Responsable pédagogique Ecosup-commerce
     mj-column(width='60%')
    mj-column(width="100%")
            mj-image(padding="0" width="600px" fluid-on-mobile="true" src="https://i.ibb.co/G9QRxrt/jpo-Group30012025.jpg" alt="")/
    mj-column(width="100%" background-color="#f77a22" vertical-align="bottom")
        mj-text(align='left' font-size='16px' line-height='20px' font-weight='300' color='#000000') Newsletter Ecosup Commerce / #[span(style='font-weight:700;color:#ffffff') Mars 2025]