extends templates/_layout
block content
    //- Newsletter + Signature
    //-mj-section(background-color='#fbc49d' padding-bottom='10px')
    mj-section
        mj-column
            mj-image(align="left" width="150px" src="https://i.ibb.co/C5Q0SSF/logo-Commerce112024.png" alt="logo Ecosup Commerce")